 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, my name is Colin Bradley and thank you for stoping by my website. I am a recent graduate from General Assembly's Android Development Immersive and am currently doing freelance work while also seeking full time employment.  If you would like to contact me about a project you are hoping to get off the ground or if your Android Dev team needs another deditcated teammate, please feel free to email me at cb.appdesign@gmail.com 
                 
                 I do appologize for any inconvinience but the "Contact Me" section below is acting a bit on the fritz, but if you would like to contact me please do not hesitate to email me directly at cb.appdesign@gmail.com</p>
                </div>
                <div class="col-lg-4">
                    <p>I do appologize for any inconvinience but the "Contact Me" section below is acting a bit on the fritz, but if you would like to contact me please do not hesitate to email me directly at cb.appdesign@gmail.com</p>
             </div>
            </div>
        </div>
    </section>
